* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #6a9dff;
}

footer {
    background-color: #1e1e1e;
    padding: 1rem 0;
    text-align: center;
}

a {
    color: #6a9dff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}